@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/* Basics */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  line-height: 2;
  background: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { font-size: 32px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

.work{
  line-height: normal;
}

.work h1 {
  margin-top: 80px;
  font-weight:600;
}

.life-intro h1{
  font-weight:600;
}

a {
  text-decoration: none;
  color: inherit;
}

a.link {
  color: #6E5CFF;
  border-bottom: 2px solid transparent;

  -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
}

a.link:hover {
  border-bottom: 2px solid #6E5CFF;
}

/* Nav Menu */
.nav {
  float: right;
  margin-top: 0px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow:
   4px 4px 0px rgba(0, 0, 0, 0.2);
}

.nav li {
  display: inline-block;
  position: relative;
  margin-right: 24px;
}

.nav li:last-child { margin-right: 0px; }

.nav li a {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  position: relative;
}

.nav li a::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -3px;
  left: 0;
  background: #6E5CFF;

  -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
}

.nav li a.active::before,
.nav li a:hover::before { width: 100%; }

.nav li .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
  white-space: nowrap;
}

.nav li .sub-menu.visible { display: block; }

.nav li .sub-menu li {
  display: block;
  margin: 0;
  line-height: normal;
}

.nav li .sub-menu li a {
  font-size: 12px;
  color: #000000;
}

.nav li .sub-menu li a.active,
.nav li .sub-menu li a:hover { color: #ffffff; }

.nav li .sub-menu li a::before { display: none; }

/* Gallery */

.container {
  max-width: 1440px;
  position: relative;
  margin: 40px;
  margin-bottom: 0px;
}

.gallery {
  max-width: 1440px;
  margin: auto;
}

.gallery {
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
}

.gallery div {
  flex: auto;
  width: 300px;
  margin: 5px;
}

.gallery div img {
  width: 100%;
  height: auto;
}


/* columns */

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.column-left {
  float: left;
  width: 45%;
}

.column-right {
  float: left;
  width: 55%;
  padding-left: 40px;
  padding-right: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* about */
.about{
  margin-top: 100px;
  margin-bottom: 20px;
}
.about img {
  max-width: 100%;
  margin-top: 20px;
}



/* contact*/

  .contact-info {
    max-width: 650px;
    margin: 50px auto 0;
  }

  .contact-form {
    max-width: 650px;
    /* margin: 100px auto 0; */
    margin-bottom: 30px;
  }

  .contact-form .form-group { margin-bottom: 25px; }
  .contact-form .form-group:last-child { margin-bottom: 0; }

	input[type="text"],
	textarea {
		display: block;
		width: 100%;
		line-height: 50px;
		font-family: inherit;
		font-size: 16px;
		padding: 5px 15px;
    background: #f5f5fe;
	}

	textarea {
		max-width: 100%;
		min-height: 150px;
		line-height: inherit;
		padding: 15px;
	}

	label {
		display: block;
		position: relative;
		cursor: pointer;
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 5px;
	}

  /* button */
  	input[type="submit"],
  	.btn {
  		display: inline-block;
  		position: relative;
  		font-family: inherit;
  		font-size: 16px;
  		padding: 5px 30px;
  		line-height: 40px;
  		color: #ffffff;
  		background: #6E5CFF;
  		cursor: pointer;
  	}


/* Footer */
.footer {
    display: flex;
    margin-top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    background-color: #ffffff;
}

/* Skip to Content */
.skip{
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

/* Parallax Image */
.parallax {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url("https://i.postimg.cc/JtwFWNMw/F8-B706-A9-29-A6-4117-B165-B71195-E3-C07-E.jpg");
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


/* Flip Card */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 500px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background: #fff;
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Responsiveness */

  @media (prefers-reduced-motion: reduce) {
  .animation {
    animation: none;
    }
  }

	@media (min-width: 1024px) {
    .profile-pic {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    .profile-pic {
      display: inline-block;
    }

    .flip-card {
      display: none;
  }

	@media (max-width: 1024px) {

    .container {margin-top: 40; }

    h1 { font-size: 22px; line-height: 2;}
    h2 { font-size: 15px; line-height: 2;}
    h3 { font-size: 12px; }
    p { font-size: 15px;}

    .body {
      padding-left: 10px;
      padding-right: 10px;
    }

    .main-content { padding-top: 100px; }

		.column-left {
			width: 100% !important;
			padding: 0 !important;
			margin-bottom: 40px;
		}

    .column-right {
			width: 100% !important;
			padding: 0 !important;
			margin-bottom: 40px;
		}

		.column-left:last-child { margin-bottom: 0; }
    .column-right:last-child { margin-bottom: 0; }

    .header {
      position: relative;
      line-height: 30px;
      padding-top: 40px;
    }

    .nav{
      margin-top: 0;
    }
		.nav li {
			display: block;
			margin: 0;
			text-align: right;
		}

    .nav li a {
      font-size: 14px;
    }

    .nav li.sub-menu {
      position: relative;
      margin-bottom: 15px;
    }

    label {
      font-size: 14px;
    }

    .parallax {
      display: none;
    }

	}

	@media (max-width: 500px) {
		.container {padding: 0px;}

    .body {
      padding-left: 5px;
      padding-right: 5px;
    }

    .gallery {
      width: 100%;
    }

    .parallax {
      display: none;
    }
	}
